/*******************************
Pedro Limeres Granado - UO282763
Descripcion de los estilos
********************************/

body {
    display: grid;
  
    grid-template-columns: [zero] 8vh [one] 8vh [two] 8vh [three] 8vh [four] 8vh [five];
    grid-template-rows: [zero] 4vh [one] 8vh [two] 8vh [three] 8vh [four] 8vh [five] 8vh [six] 8vh [seven];

    gap: 1vh 1vh;

    margin-top: 3vh;
    margin-left: 3vw;
} /*001*/

input[type="number"] {
    grid-column-start: zero;
    grid-column-end: five;
    grid-row-start: one;
    grid-row-end: two;

    text-align: right;
}

input[value="+"] {
    grid-column-start: three;
    grid-column-end: four;
    grid-row-start: five;
    grid-row-end: seven;
}

input[type="button"] {
    font-size: 2vh;
}

label{
    grid-column-start: zero;
    grid-column-end: five;
    grid-row-start: zero;
    grid-row-end: one;

    text-align: center;
} 





