/*******************************
Pedro Limeres Granado - UO282763
Descripcion de los estilos
********************************/

form {
    display: grid;
  
    grid-template-columns: [zero] 6vh [one] 6vh [two] 6vh [three] 6vh [four] 6vh [five];
    grid-template-rows: [zero] 3vh [one] 12vh [two] 6vh [three] 6vh [four] 6vh [five] 6vh [six] 6vh [seven] 6vh [eight] 6vh [nine] 6vh [ten] 6vh [eleven];

    gap: 1vh 1vh;

    margin-top: 3vh;
    margin-left: 3vw;

    width: 35vh;

    background-color: rgb(186, 186, 186);
    color:black;
    padding: 1em;
} /*001*/

input[type="submit"] {
    font-size: 2vh;
    background-color: rgba(255, 255, 255, 0.500);
    color:black;
    text-align: center;
}

label{
    grid-column-start: zero;
    grid-column-end: five;
    grid-row-start: zero;
    grid-row-end: one;

    text-align: center;
    background-color: aliceblue;
    color:black;
    border: 0.1em solid #000000;
}

input[name="DEG"] {
    background-color: rgba(255, 255, 255, 0.750);
    color:black;
}
input[name="RAD"] {
    background-color: rgba(255, 255, 255, 0.750);
    color:black;
}
input[name="HYP"] {
    background-color: rgba(255, 255, 255, 0.750);
    color:black;
}
input[name="F-E"] {
    background-color: rgba(255, 255, 255, 0.750);
    color:black;
}
input[name="MC"] {
    grid-column-start: zero;
    grid-column-end: one;
    grid-row-start: three;
    grid-row-end: four;

    background-color: rgba(255, 255, 255, 0.750);
    color:black;
}
input[name="MR"] {
    grid-column-start: one;
    grid-column-end: two;
    grid-row-start: three;
    grid-row-end: four;

    background-color: rgba(255, 255, 255, 0.750);
    color:black;
}
input[name="M+"] {
    grid-column-start: two;
    grid-column-end: three;
    grid-row-start: three;
    grid-row-end: four;

    background-color: rgba(255, 255, 255, 0.750);
    color:black;
}
input[name="M-"] {
    grid-column-start: three;
    grid-column-end: four;
    grid-row-start: three;
    grid-row-end: four;

    background-color: rgba(255, 255, 255, 0.750);
    color:black;
}
input[name="MS"] {
    grid-column-start: four;
    grid-column-end: five;
    grid-row-start: three;
    grid-row-end: four;

    background-color: rgba(255, 255, 255, 0.750);
    color:black;
}
input[name="x^2"] {
    grid-column-start: zero;
    grid-column-end: one;
    grid-row-start: four;
    grid-row-end: five;
}
input[name="x^y"] {
    grid-column-start: one;
    grid-column-end: two;
    grid-row-start: four;
    grid-row-end: five;
}
input[name="sin"] {
    grid-column-start: two;
    grid-column-end: three;
    grid-row-start: four;
    grid-row-end: five;
}
input[name="cos"] {
    grid-column-start: three;
    grid-column-end: four;
    grid-row-start: four;
    grid-row-end: five;
}
input[name="tan"] {
    grid-column-start: four;
    grid-column-end: five;
    grid-row-start: four;
    grid-row-end: five;
}
input[name="asin"] {
    grid-column-start: two;
    grid-column-end: three;
    grid-row-start: four;
    grid-row-end: five;
}
input[name="acos"] {
    grid-column-start: three;
    grid-column-end: four;
    grid-row-start: four;
    grid-row-end: five;
}
input[name="atan"] {
    grid-column-start: four;
    grid-column-end: five;
    grid-row-start: four;
    grid-row-end: five;
}
input[name="√"] {
    grid-column-start: zero;
    grid-column-end: one;
    grid-row-start: five;
    grid-row-end: six;
}
input[name="10^x"] {
    grid-column-start: one;
    grid-column-end: two;
    grid-row-start: five;
    grid-row-end: six;
}
input[name="log"] {
    grid-column-start: two;
    grid-column-end: three;
    grid-row-start: five;
    grid-row-end: six;
}
input[name="Exp"] {
    grid-column-start: three;
    grid-column-end: four;
    grid-row-start: five;
    grid-row-end: six;
}
input[name="Mod"] {
    grid-column-start: four;
    grid-column-end: five;
    grid-row-start: five;
    grid-row-end: six;
}
input[name="↥"] {
    grid-column-start: zero;
    grid-column-end: one;
    grid-row-start: six;
    grid-row-end: seven;
}
input[name="↥↥"] {
    grid-column-start: zero;
    grid-column-end: one;
    grid-row-start: six;
    grid-row-end: seven;
}
input[name="CE"] {
    grid-column-start: one;
    grid-column-end: two;
    grid-row-start: six;
    grid-row-end: seven;
}
input[name="C"] {
    grid-column-start: two;
    grid-column-end: three;
    grid-row-start: six;
    grid-row-end: seven;
}
input[name="⌫"] {
    grid-column-start: three;
    grid-column-end: four;
    grid-row-start: six;
    grid-row-end: seven;
}
input[name="/"] {
    grid-column-start: four;
    grid-column-end: five;
    grid-row-start: six;
    grid-row-end: seven;
}
input[name="π"] {
    grid-column-start: zero;
    grid-column-end: one;
    grid-row-start: seven;
    grid-row-end: eight;
}
input[name="7"] {
    grid-column-start: one;
    grid-column-end: two;
    grid-row-start: seven;
    grid-row-end: eight;

    background-color: rgb(255, 255, 255);
    color:black;
}
input[name="8"] {
    grid-column-start: two;
    grid-column-end: three;
    grid-row-start: seven;
    grid-row-end: eight;

    background-color: rgb(255, 255, 255);
    color:black;
}
input[name="9"] {
    grid-column-start: three;
    grid-column-end: four;
    grid-row-start: seven;
    grid-row-end: eight;

    background-color: rgb(255, 255, 255);
    color:black;
}
input[name="x"] {
    grid-column-start: four;
    grid-column-end: five;
    grid-row-start: seven;
    grid-row-end: eight;
}
input[name="n!"] {
    grid-column-start: zero;
    grid-column-end: one;
    grid-row-start: eight;
    grid-row-end: nine;
}
input[name="4"] {
    grid-column-start: one;
    grid-column-end: two;
    grid-row-start: eight;
    grid-row-end: nine;

    background-color: rgb(255, 255, 255);
    color:black;
}
input[name="5"] {
    grid-column-start: two;
    grid-column-end: three;
    grid-row-start: eight;
    grid-row-end: nine;

    background-color: rgb(255, 255, 255);
    color:black;
}
input[name="6"] {
    grid-column-start: three;
    grid-column-end: four;
    grid-row-start: eight;
    grid-row-end: nine;

    background-color: rgb(255, 255, 255);
    color:black;
}
input[name="-"] {
    grid-column-start: four;
    grid-column-end: five;
    grid-row-start: eight;
    grid-row-end: nine;
}
input[name="±"] {
    grid-column-start: zero;
    grid-column-end: one;
    grid-row-start: nine;
    grid-row-end: ten;
}
input[name="1"] {
    grid-column-start: one;
    grid-column-end: two;
    grid-row-start: nine;
    grid-row-end: ten;

    background-color: rgb(255, 255, 255);
    color:black;
}
input[name="2"] {
    grid-column-start: two;
    grid-column-end: three;
    grid-row-start: nine;
    grid-row-end: ten;

    background-color: rgb(255, 255, 255);
    color:black;
}
input[name="3"] {
    grid-column-start: three;
    grid-column-end: four;
    grid-row-start: nine;
    grid-row-end: ten;

    background-color: rgb(255, 255, 255);
    color:black;
}
input[name="+"] {
    grid-column-start: four;
    grid-column-end: five;
    grid-row-start: nine;
    grid-row-end: ten;
}
input[name="("] {
    grid-column-start: zero;
    grid-column-end: one;
    grid-row-start: ten;
    grid-row-end: eleven;
}
input[name=")"] {
    grid-column-start: one;
    grid-column-end: two;
    grid-row-start: ten;
    grid-row-end: eleven;
}
input[name="0"] {
    grid-column-start: two;
    grid-column-end: three;
    grid-row-start: ten;
    grid-row-end: eleven;

    background-color: rgb(255, 255, 255);
    color:black;
}
input[name="."] {
    grid-column-start: three;
    grid-column-end: four;
    grid-row-start: ten;
    grid-row-end: eleven;

    background-color: rgb(255, 255, 255);
    color:black;
}
input[name="="] {
    grid-column-start: four;
    grid-column-end: five;
    grid-row-start: ten;
    grid-row-end: eleven;
}

input[name="pantalla"] {
    grid-column-start: zero;
    grid-column-end: five;
    grid-row-start: one;
    grid-row-end: two;

    text-align: right;

    background-color: rgba(255, 255, 255, 0.750);
    color:black;
}