/*******************************
Pedro Limeres Granado - UO282763
Descripcion de los estilos
********************************/

form {
    display: grid;
  
    grid-template-columns: [zero] 8vh [one] 8vh [two] 8vh [three] 8vh [four];
    grid-template-rows: [zero] 3vh [one] 16vh [two] 4vh [three] 8vh [four] 8vh [five] 8vh [six] 8vh [seven] 8vh [eight] 8vh [nine];

    gap: 1vh 1vh;

    margin-top: 3vh;
    margin-left: 3vw;

    width: 35vh;

    background-color: rgb(186, 186, 186);
    color:black;
    padding: 1em;
} /*001*/

label[for="pantalla"] {
    grid-column-start: zero;
    grid-column-end: four;
    grid-row-start: zero;
    grid-row-end: one;

    background-color: rgba(255, 255, 255, 0.750);
    color:black;

    text-align: center;
}

textarea[name="pantalla"] {
    grid-column-start: zero;
    grid-column-end: four;
    grid-row-start: one;
    grid-row-end: two;

    
    text-align: right;

    font-size: 2.25vh;
    background-color: rgba(255, 255, 255, 0.750);
    color:black;

    resize: none;
}

label[for="auxiliar"] {
    grid-column-start: zero;
    grid-column-end: one;
    grid-row-start: two;
    grid-row-end: three;

    text-align: left;

    background-color: rgba(255, 255, 255, 0.750);
    color:black;
}

input[name="auxiliar"] {
    grid-column-start: one;
    grid-column-end: four;
    grid-row-start: two;
    grid-row-end: three;

    text-align: right;

    background-color: rgba(255, 255, 255, 0.750);
    color:black;
}

input[name="Enter"] {
    grid-column-start: two;
    grid-column-end: four;
    grid-row-start: eight;
    grid-row-end: nine;
}

