/*******************************
Pedro Limeres Granado - UO282763
Descripcion de los estilos
********************************/

body {
    margin-top: 5vh;
    margin-right: 5vh;
    margin-left: 5vh;

    background-color: rgb(152, 255, 255);
    color: black;
    text-align: left;
}

h1 {
    text-align: center;
    font-size: 2em;
}/*001*/

section {
    margin-bottom: 3vh;
    text-align: center;
}

video {
    display: block;
    margin:auto;
    width:50%; 
    height:50vh;
}



