/*******************************
Pedro Limeres Granado - UO282763
Descripcion del layout del ejercicio 15
********************************/

header { grid-area: header; }
nav { grid-area: nav; }
main { grid-area: main; }
aside { grid-area: aside; }


body {
    display: grid;
  
    grid-template-areas:
    'header header header header header'
    'nav main main main aside'
    'nav main main main aside'
    'nav main main main aside'
    'nav main main main aside'
    'nav main main main aside';

    gap: 1.2vh 1.2vw;
    
} /*001*/

header {
    width: 89vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 0em;
}/*001*/

section {
    width: 50vw;
    margin-right: -3vw;
}

h2+h3 {
    margin-bottom: 1vh;
}

nav {
    width: 15vw;
    margin-top: 1.5vh;
    margin-left: 1.5vw;
    padding: 1em;
}/*001*/

aside {
    width: 18vw;
    margin-top: 1.5vh;
    margin-right: 3vw;
    padding: 1vh;
}/*001*/

img {
    display: block;
    width: 30vw;
    margin: auto;
}/*001*/

video {
    width: 25vw;
    height: fit-content;
    display: block;
    margin: auto;
} /* 001 */

caption {
    margin-bottom: 1em;
} /* 001 */

audio {
    width: 30vw;
    display: block;
    margin: auto;
} /*001*/

nav a {
    display: block;
    margin-bottom: 3vh;
} /*002*/

aside ul {
    float: left;
    margin-bottom: 5vh;
    margin-left: -2.2vw;
} /* 002 */

aside img {
    width: 17vw;
    margin-top: 2vh;
} /* 002 */

table td {
    padding: 0.8em;
}/*002*/

section p {
    margin-bottom: 2vh;
} /* 002 */

aside form input {
    width: 14vw;
    height: fit-content;
} /* 003 */

aside form label {
    width: 14vw;
    height: fit-content;
} /* 003 */

aside form fieldset {
    width: 12vw;
    height: fit-content;
} /* 003 */

